<%= form_for @article do |f| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label 'Title:' %><br><br>
    <%= f.text_field :title %><br><br>
  </p>

  <p>
    <%= f.label 'Text:' %><br><br>
    <%= f.bootsy_area :text, editor_options: { lists: false } %><br><br>
  </p>

  <p>
    <%= f.submit %><br><br>
  </p>

<% end %>
